[toolchain]
package_manager = "bun"

[features]
resolution = true
skip-lint = false

[programs.localnet]
campaign_contract = "85rgQQX1eVG8VEMK6PMWjQgrhU8LoLjrJxMGZFfQXsL4"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "bunx ts-mocha -p ./tsconfig.json -t 1000000 \"tests/**/*.ts\""
